# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
__MACOSX/
.DS_Store
.AppleDouble
.LSOverride

# Virtual environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution
*.whl